<section class="section about">
  <div class="container">
    <div class="about__wrap">
      <p class="about__subtitle subtitle subtitle_black">About</p>
      <h2 class="about__title">Best Barbershop in<br />your city</h2>
      <p class="about__first-text">
        If you want to add more confidence to your image, you should visit us
      </p>
      <p class="about__second-text">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who
        comes to us!
      </p>
    </div>
    <button type="button" class="btn about__btn">online-booking</button>
  </div>
</section>
