<section class="section advantages">
  <div class="container">
    <p class="advantages__subtitle subtitle subtitle__black">
      Old traditional school
    </p>
    <h2 class="advantages__title title">¿Why people come to us?</h2>
    <p class="advantages__text">
      Only good things are said about us. But it's better to see and feel 1 time
      than read 10 times.
    </p>
    <div class="advantages__list-wrap">
      <ul class="advantages__list advantages__list_first">
        <li class="advantages__item">
          <p class="item__amount">600</p>
          <p class="item__text">Satisfied customers per day</p>
        </li>
        <li class="advantages__item">
          <p class="item__amount">20</p>
          <p class="item__text">Kyiv’s best barbers</p>
        </li>
      </ul>
      <ul class="advantages__list">
        <li class="advantages__item">
          <p class="item__amount">50</p>
          <p class="item__text">Awards for excellent service</p>
        </li>
        <li class="advantages__item">
          <p class="item__amount">100</p>
          <p class="item__text">Gifts for regular customers</p>
        </li>
      </ul>
    </div>
  </div>
</section>
