<section class="section barbers">
  <div class="container">
    <p class="barbers__subtitle subtitle subtitle_black">
      For true enjoyers of the atmosphere
    </p>
    <h2 class="barbers__title title">Our barbers</h2>
    <ul class="barbers__list">
      <li class="barbers__item">
        <img
          srcset="
            ./images/barbers/barber1-mob-418@1x-min.jpg    418w,
            ./images/barbers/barber1-mob-836@2x-min.jpg    836w,
            ./images/barbers/barber1-tablet-450@1x-min.jpg 450w,
            ./images/barbers/barber1-tablet-900@2x-min.jpg 900w,
            ./images/barbers/barber1-desk-370@1x-min.jpg   370w,
            ./images/barbers/barber1-desk-740@2x-min.jpg   740w
          "
          sizes="(min-width:1200px) 370px, (min-width:768px) 450px, (min-width:480px) 418px, 100vw"
          alt="barber"
          class="barbers__pic"
        />
        <div class="barbers__item-wrap">
          <p class="barbers__name">John Smith</p>
          <p class="barbers__position">Extreme Barber</p>
        </div>
        <ul class="barbers__sm-list">
          <li class="barbers__sm-item">
            <a href="https://www.instagram.com/" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="barbers__sm-item">
            <a href="https://twitter.com/?lang=uk" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="barbers__sm-item">
            <a href="https://www.facebook.com/" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="barbers__sm-item">
            <a href="https://www.linkedin.com/" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="barbers__item">
        <img
          srcset="
            ./images/barbers/barber2-mob-418@1x-min.jpg    418w,
            ./images/barbers/barber2-mob-836@2x-min.jpg    836w,
            ./images/barbers/barber2-tablet-450@1x-min.jpg 450w,
            ./images/barbers/barber2-tablet-900@2x-min.jpg 900w,
            ./images/barbers/barber2-desk-370@1x-min.jpg   370w,
            ./images/barbers/barber2-desk-740@2x-min.jpg   740w
          "
          sizes="(min-width:1200px) 370px, (min-width:768px) 450px, (min-width:480px) 418px, 100vw"
          alt="barber"
          class="barbers__pic"
        />
        <div class="barbers__item-wrap">
          <p class="barbers__name">Michele Doe</p>
          <p class="barbers__position">Extreme Barber</p>
        </div>
        <ul class="barbers__sm-list">
          <li class="barbers__sm-item">
            <a href="https://www.instagram.com/" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="barbers__sm-item">
            <a href="https://twitter.com/?lang=uk" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="barbers__sm-item">
            <a href="https://www.facebook.com/" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="barbers__sm-item">
            <a href="https://www.linkedin.com/" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="barbers__item">
        <img
          srcset="
            ./images/barbers/barber3-mob-418@1x-min.jpg    418w,
            ./images/barbers/barber3-mob-836@2x-min.jpg    836w,
            ./images/barbers/barber3-tablet-450@1x-min.jpg 450w,
            ./images/barbers/barber3-tablet-900@2x-min.jpg 900w,
            ./images/barbers/barber3-desk-370@1x-min.jpg   370w,
            ./images/barbers/barber3-desk-740@2x-min.jpg   740w
          "
          sizes="(min-width:1200px) 370px, (min-width:768px) 450px, (min-width:480px) 418px, 100vw"
          alt="barber"
          class="barbers__pic"
        />
        <div class="barbers__item-wrap">
          <p class="barbers__name">Alan Black</p>
          <p class="barbers__position">Extreme Barber</p>
        </div>
        <ul class="barbers__sm-list">
          <li class="barbers__sm-item">
            <a href="https://www.instagram.com/" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="barbers__sm-item">
            <a href="https://twitter.com/?lang=uk" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="barbers__sm-item">
            <a href="https://www.facebook.com/" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="barbers__sm-item">
            <a href="https://www.linkedin.com/" class="barbers__sm-link">
              <svg class="barbers__sm-icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
