<section class="common-contacts" id="contacts">
  <section class="section booking">
    <div class="container booking__container">
      <h2 class="booking__title title">Online-booking</h2>
      <form class="booking__form">
        <div class="booking__input-wrap">
          <label class="booking__label"
            ><input
              type="text"
              name="name"
              class="booking__input"
              placeholder="Name*"
              required
          /></label>
          <label class="booking__label"
            ><input
              type="tel"
              name="tel"
              class="booking__input"
              placeholder="Phone*"
              required
          /></label>
        </div>
        <label>
          <textarea
            name="comment"
            class="booking__comment"
            placeholder="Message"
          ></textarea>
        </label>
        <button type="sumbit" class="btn booking__btn">Send</button>
      </form>
    </div>
  </section>
  <section class="section contacts">
    <div class="container contacts__container">
      <div class="contacts__wrap_first">
        <h2 class="contacts__title title">Contacts</h2>
        <address class="address">
          <ul class="address__list">
            <li class="address__item">
              <a
                href="https://goo.gl/maps/dWTkUu4nXDSnoXWm7"
                class="address__link address__address"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="address__icon">
                  <use href="./images/icons.svg#icon-map"></use></svg
                ><span>st. Vasilkovaya, 7A Kiev, 08132</span></a
              >
            </li>
            <li class="address__item">
              <a
                href="tel:+380441111111"
                class="address__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="address__icon">
                  <use href="./images/icons.svg#icon-phone"></use></svg
                ><span>+38 044 111 11 11</span></a
              >
            </li>
            <li class="address__item">
              <a
                href="mailto:barbershop@email.com"
                class="address__link address__mail"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="address__icon">
                  <use href="./images/icons.svg#icon-mail"></use></svg
                ><span>barbershop@email.com</span></a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="contacts__wrap_second">
        <p class="contacts__subtitle subtitle">Working hours</p>
        <p class="contacts__text">Every day from 9:00 to 22:00</p>
      </div>
    </div>
  </section>
</section>
