<footer class="footer">
  <div class="container">
    <ul class="footer__sm-list sm-list">
      <li class="footer__sm-item sm-item">
        <a
          href="https://www.instagram.com/"
          class="footer__sm-link sm-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Instagram</a
        >
      </li>
      <li class="footer__sm-item sm-item">
        <a
          href="https://www.youtube.com/"
          class="footer__sm-link sm-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Youtube</a
        >
      </li>
    </ul>
    <p class="footer__copy">&copy; Copyright 2020</p>
  </div>
</footer>
