<section class="section gallery">
  <div class="container">
    <p class="gallery__subtitle subtitle subtitle_black">
      In Latin, "barba" means "beard"
    </p>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          srcset="
            ./images/gallery/gallery1-mob-4181x.jpg    418w,
            ./images/gallery/gallery1-mob-8362x.jpg    836w,
            ./images/gallery/gallery1-tablet-3301x.jpg 330w,
            ./images/gallery/gallery1-tablet-6602x.jpg 660w,
            ./images/gallery/gallery1-desk-2701x.jpg   270w,
            ./images/gallery/gallery1-desk-5402x.jpg   540w
          "
          sizes="(min-width:1200px) 270px, (min-width:768px) 330px, (min-width:480px) 418px, 100vw"
          alt="haircut picture"
          class="gallery__pic"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/gallery/gallery2-mob-4181x.jpg    418w,
            ./images/gallery/gallery2-mob-8362x.jpg    836w,
            ./images/gallery/gallery2-tablet-3301x.jpg 330w,
            ./images/gallery/gallery2-tablet-6602x.jpg 660w,
            ./images/gallery/gallery2-desk-2701x.jpg   270w,
            ./images/gallery/gallery2-desk-5402x.jpg   540w
          "
          sizes="(min-width:1200px) 270px, (min-width:768px) 330px, (min-width:480px) 418px, 100vw"
          alt="haircut picture"
          class="gallery__pic"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/gallery/gallery3-mob-4181x.jpg    418w,
            ./images/gallery/gallery3-mob-8362x.jpg    836w,
            ./images/gallery/gallery3-tablet-3301x.jpg 330w,
            ./images/gallery/gallery3-tablet-6602x.jpg 660w,
            ./images/gallery/gallery3-desk-2701x.jpg   270w,
            ./images/gallery/gallery3-desk-5402x.jpg   540w
          "
          sizes="(min-width:1200px) 270px, (min-width:768px) 330px, (min-width:480px) 418px, 100vw"
          alt="haircut picture"
          class="gallery__pic"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/gallery/gallery4-mob-4181x.jpg    418w,
            ./images/gallery/gallery4-mob-8362x.jpg    836w,
            ./images/gallery/gallery4-tablet-3301x.jpg 330w,
            ./images/gallery/gallery4-tablet-6602x.jpg 660w,
            ./images/gallery/gallery4-desk-2701x.jpg   270w,
            ./images/gallery/gallery4-desk-5402x.jpg   540w
          "
          sizes="(min-width:1200px) 270px, (min-width:768px) 330px, (min-width:480px) 418px, 100vw"
          alt="haircut picture"
          class="gallery__pic"
        />
      </li>
    </ul>
  </div>
</section>
