<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="./index.html" class="logo__link">
        <svg class="logo__pic">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <button
      type="button"
      class="header__menu-btn is-open"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg class="menu-btn__icon">
        <use
          href="./images/icons.svg#icon-menu"
          class="menu-btn__menu-icon"
        ></use>
        <use
          href="./images/icons.svg#icon-close"
          class="menu-btn__close-icon"
        ></use>
      </svg>
    </button>
    <div class="header__wrap">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#about" class="header__nav-link">About</a>
          </li>
          <li class="header__nav-item">
            <a href="#prices" class="header__nav-link">Services and prices</a>
          </li>
          <li class="header__nav-item">
            <a href="#barbers" class="header__nav-link">Barbers</a>
          </li>
          <li class="header__nav-item">
            <a href="#contacts" class="header__nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="header__contacts">
        <a href="tel:+380441111111" class="header__contacts-tel"
          >+38 044 111 11 11</a
        ><button type="button" class="btn header__contacts-btn">
          Online-booking
        </button>
      </div>
      <div class="header__sm">
        <ul class="header__sm-list sm-list">
          <li class="header__sm-item sm-item">
            <a
              href="https://www.instagram.com/"
              class="header__sm-link sm-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >Instagram</a
            >
          </li>
          <li class="header__sm-item sm-item">
            <a
              href="https://www.youtube.com/"
              class="header__sm-link sm-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >Youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- mob menu -->

<div class="backdrop" id="menu-container" data-menu>
  <div class="header__wrap">
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#about" class="header__nav-link">About</a>
        </li>
        <li class="header__nav-item">
          <a href="#prices" class="header__nav-link">Services and prices</a>
        </li>
        <li class="header__nav-item">
          <a href="#barbers" class="header__nav-link">Barbers</a>
        </li>
        <li class="header__nav-item">
          <a href="#contacts" class="header__nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header__contacts">
      <a href="tel:+380441111111" class="header__contacts-tel"
        >+38 044 111 11 11</a
      ><button type="button" class="btn header__contacts-btn">
        Online-booking
      </button>
    </div>
    <div class="header__sm">
      <ul class="header__sm-list sm-list">
        <li class="header__sm-item sm-item">
          <a
            href="https://www.instagram.com/"
            class="header__sm-link sm-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Instagram</a
          >
        </li>
        <li class="header__sm-item sm-item">
          <a
            href="https://www.youtube.com/"
            class="header__sm-link sm-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
