<section class="hero">
  <div class="container hero__container">
    <div class="hero__content-wrap">
      <div class="hero__text-wrap">
        <p class="hero__subtitle subtitle subtitle_grey">
          A hair salon for men in Kyiv
        </p>
        <h1 class="hero__title">BarberShop</h1>
        <p class="hero__text">
          We are experts in trendy men’s haircuts. We work quickly, carefully
          and with style.
        </p>
      </div>
    </div>
    <div class="hero__sm">
      <ul class="hero__sm-list sm-list">
        <li class="hero__sm-item sm-item">
          <a
            href="https://www.instagram.com/"
            class="hero__sm-link sm-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Instagram</a
          >
        </li>
        <li class="hero__sm-item sm-item">
          <a
            href="https://www.youtube.com/"
            class="hero__sm-link sm-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
