<section class="section prices">
  <div class="container prices__container">
    <p class="subtitle subtitle_grey prices__subtitle">
      Spend your time with the best masters
    </p>
    <h2 class="prices__title title">Services and prices</h2>
    <div class="prices__list-wrap">
      <ul class="prices__list prices__list_first">
        <li class="prices__item">
          <p class="prices__name">Men’s haircut</p>
          <div class="prices__line"></div>
          <p class="prices__price">from 300 uah.</p>
        </li>
        <li class="prices__item">
          <p class="prices__name">Beard trim</p>
          <div class="prices__line"></div>
          <p class="prices__price">from 200 uah.</p>
        </li>
        <li class="prices__item">
          <p class="prices__name">Mustache trim</p>
          <div class="prices__line"></div>
          <p class="prices__price">from 200 uah.</p>
        </li>
        <li class="prices__item">
          <p class="prices__name">Straight razor shave</p>
          <div class="prices__line"></div>
          <p class="prices__price">from 200 uah.</p>
        </li>
      </ul>
      <ul class="prices__list prices__list_second">
        <li class="prices__item">
          <p class="prices__name">Trainee’s haircut</p>
          <div class="prices__line"></div>
          <p class="prices__price">from 50 uah.</p>
        </li>
        <li class="prices__item">
          <p class="prices__name">Haircut under the nozzle</p>
          <div class="prices__line"></div>
          <p class="prices__price">from 200 uah.</p>
        </li>
        <li class="prices__item">
          <p class="prices__name">Children’s haircut (0-12 y.o.)</p>
          <div class="prices__line"></div>
          <p class="prices__price">from 300 uah.</p>
        </li>
        <li class="prices__item">
          <p class="prices__name">Camouflage of grey hair</p>
          <div class="prices__line"></div>
          <p class="prices__price">from 200 uah.</p>
        </li>
      </ul>
    </div>
    <button type="button" class="btn prices__btn">online-booking</button>
  </div>
</section>
