.barbers {
  background-color: $bcg-barbers-color;
}

.barbers__wrap {
  @include mq(tab-only) {
    width: 450px;
    margin: 0 auto;
  }
}

.barbers__subtitle {
  margin-bottom: 20px;
}

.barbers__title {
  margin-bottom: 44px;
  color: $title-color;
}

// barbers list

.barbers__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  @include mq(desk) {
    flex-direction: row;
    gap: 30px;
  }
}

.barbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  width: 418px;

  @include mq(tab) {
    width: 450px;
  }

  @include mq(desk) {
    width: 370px;
  }
}

.barbers__item-wrap {
  text-align: center;
}

.barbers__name {
  margin-bottom: 8px;

  line-height: calc(25 / 18);
  letter-spacing: 0.02em;
  color: $third-text-color;
}

.barbers__position {
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.02em;
  color: $accent-color;
}

// sm list

.barbers__sm-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers__sm-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: $bcg-main-color;
  border-radius: 50%;
}

.barbers__sm-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $third-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.barbers__sm-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;

  @include transition(color);
}
