.booking {
  background-color: $bcg-contacts-color;
}

.booking__title {
  margin-bottom: 44px;
  color: $bcg-main-color;
  text-align: center;

  @include mq(tab) {
    text-align: start;
  }
}

// form

.booking__form {
  display: flex;
  flex-direction: column;
}

.booking__label {
  @include mq(tab) {
    width: calc((100% - 30px) / 2);
  }
}

.booking__input-wrap {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-bottom: 44px;

  @include mq(tab) {
    flex-direction: row;
    gap: 30px;
  }
}

.booking__input,
.booking__comment {
  width: 100%;
  padding-bottom: 8px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  // font-weight: 600;
  font-size: 14px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: $bcg-main-color;

  @include transition(border);

  &::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    color: rgba(157, 164, 189, 0.4);
    text-transform: uppercase;

    @include transition(color);
  }

  &:hover::placeholder {
    color: $bcg-main-color;
  }

  &:hover,
  &:focus {
    border: none;
    border-bottom: 1px solid $bcg-main-color;
    outline: none;
  }
}

.booking__comment {
  resize: none;
  height: 76px;
  margin-bottom: 44px;
}

// btn

.booking__btn {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 40px;

  color: $bcg-main-color;

  @include mq(tab) {
    margin-left: 0;
  }
}
