.common-contacts {
  @include mq(desk) {
    display: flex;
  }
}

.booking,
.contacts {
  @include mq(desk) {
    width: calc(100% / 2);
  }
}

.booking__container {
  @include mq(desk) {
    max-width: 600px;
    padding-right: 30px;
    margin: 0 0 0 auto;
  }
}

.contacts__container {
  @include mq(desk) {
    max-width: 500px;
    padding-left: 0;
    margin: 0 auto 0 0;
  }
}
