.footer {
  padding-top: 44px;
  padding-bottom: 44px;

  @include mq(tab) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer__container {
  @include mq(tab) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

// sm list

.footer__sm-list {
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
}

.footer__sm-item {
  position: static;
  display: flex;
  align-items: center;
  gap: 40px;

  &:first-child::before {
    position: static;
  }
}

.footer__sm-link {
  font-size: 11px;
}

// text

.footer__copy {
  margin-top: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: $first-text-color;
  text-align: start;

  @include mq(tab) {
    margin-top: 0;
  }
}
