.gallery__subtitle {
  margin-bottom: 71px;

  @include mq(tab) {
    margin-bottom: 44px;
  }
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(tab) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include mq(desk) {
    flex-direction: row;
  }
}

.gallery__item {
  width: 418px;

  @include mq(tab) {
    width: 330px;
  }

  @include mq(desk) {
    width: 270px;
  }
}
