.header {
  position: absolute;
  width: 100%;
  padding: 40px 0;
  background-color: transparent;
  color: $header-text-color;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(desk) {
    gap: 131px;
  }
}

// logo

.logo__link {
  color: $header-text-color;
}

.logo__pic {
  width: 69px;
  height: 55.4px;
  fill: currentColor;

  @include mq(tab) {
    color: $third-text-color;
  }
}

// navigation

.header__wrap {
  @include mq(tab) {
    display: flex;
    gap: 46px;
  }

  @include mq(desk) {
    gap: 254px;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mq(tab) {
    flex-direction: row;
    gap: 20.5px;
  }

  @include mq(desk) {
    gap: 30px;
  }
}

.header__nav-item {
  @include mq(tab) {
    padding: 12px 0;
  }
}

.header__nav-link {
  font-weight: 600;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: $third-text-color;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include mq(tab) {
    padding: 12px 0;
    font-size: 12px;
    line-height: calc(16.34 / 12);
    color: $header-text-color;
  }
}

// contacts

.header__contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mq(tab) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  @include mq(desk) {
    flex-direction: row;
    gap: 43px;
  }
}

.header__contacts-tel {
  font-weight: 600;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: $third-text-color;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include mq(tab) {
    font-size: 12px;
    line-height: calc(16.34 / 12);
    color: $header-text-color;
  }
}

.header__contacts-btn {
  width: 194px;
  height: 40px;

  @include mq(tab) {
    width: 164px;
    color: $header-text-color;
  }
}

// header sm

.header__sm {
  @include mq(tab) {
    display: none;
  }
}
