// mob menu button

.header__menu-btn.is-open {
  position: static;
  color: $header-text-color;
}

.header__menu-btn {
  display: none;

  @include mq(mob-only) {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    position: fixed;
    top: 48px;
    right: 31px;

    color: $third-text-color;
  }
}

.menu-btn__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

// burger menu icon

.header__menu-btn.is-open .menu-btn__menu-icon {
  display: block;
}

.header__menu-btn .menu-btn__menu-icon {
  display: none;
}

// close menu icon

.header__menu-btn.is-open .menu-btn__close-icon {
  display: none;
}

.header__menu-btn .menu-btn__close-icon {
  display: flex;
}

// mob menu

.header__wrap {
  @include mq(mob-only) {
    display: none;

    .backdrop.is-open & {
      display: flex;
      flex-direction: column;
      gap: 64px;

      min-width: 337px;
      height: 100%;
      padding: 118px 40px;
      background-color: $bcg-main-color;

      position: fixed;
      top: 0;
      right: 0;
      z-index: 999;
    }
  }
}
